<div class="new-todo">
  <form [formGroup]="todoForm" (submit)="submitTodo()" novalidate>

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <input type="text"
                 autocomplete="false"
                 class="form-control"
                 formControlName="todo"
                 placeholder="What should be done..."/>
        </div>
      </div>

      <div class="col-md-4">
        <button type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!todoForm.valid">
          Add todo
        </button>
      </div>
    </div>

  </form>
</div>
