<template>
  <require from="bootstrap/scss/bootstrap.scss"></require>
  <require from="./app.scss"></require>
  <require from="./resources/elements/todo-widget/todo-widget"></require>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-lg-6">

        <h3 if.bind="fetchError">Whoops, something went wrong!</h3>

        <todo-widget else todos.bind="todos"></todo-widget>

      </div>
    </div>
  </div>

</template>
