<template>
  <require from="./todo-widget.scss"></require>
  <require from="./new-todo/new-todo"></require>
  <require from="./todo/todo"></require>

  <div class="todo-widget">

    <new-todo
      on-submit.call="addTodo($event)">
    </new-todo>

    <todo
      repeat.for="todo of todos"
      todo.bind="todo"
      on-change.call="updateTodo($event)">
    </todo>

  </div>

</template>
