<div class="todo-widget">

  <new-todo (onSubmit)="addTodo($event)"></new-todo>

  <todo *ngFor="let todo of todos | async"
        [todo]="todo"
        (onChange)="updateTodo($event)">
  </todo>

</div>
