<template>
  <require from="./todo.scss"></require>
  <require from="../../checkbox/checkbox"></require>

  <div class="todo ${todo.done ? 'todo--done' : ''}">
    <span>${todo.text}</span>
    <checkbox checked.two-way="todo.done"></checkbox>
  </div>

</template>
