.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3.5rem;
  font-weight: 600;
  transition: .3s color ease-in-out;

  span:first-letter {
    text-transform: uppercase;
  }

  &.todo--done {
    color: #ccc;
  }
}
