<template>
  <require from="./checkbox.scss"></require>

  <div class="checkbox">
    <input type="checkbox" checked.bind="checked"/>
    <label click.delegate="checked = !checked" class="check-box"></label>
  </div>

</template>
